<div class="card text-black margins" style="">
    <div class="card-header">
        Что нужно делать в этой игре?
    </div>
    <div class="card-body p-md-5">
        <p>Это игра-кликер про актуальную в нашу время проблему - недостаток сахара.
            Здесь, кликая по пакету сахара в разделе "Сахарку", вы сможете собирать пакеты.
            Эти пакеты являются валютой, за которую можно купить поставщиков и администраторов.</p>
    </div>
</div>
<div class="card text-black margins" style="margin-top: 20px">
    <div class="card-header">
        Какая цель для победы в игре?
    </div>
    <div class="card-body p-md-5">
        <p>Конечной цели для победы в этой игре не существует. Вы можете развиваться бесконечно,
        соревнуясь с друзьями и постоянно увеличивая свой доход</p>
    </div>
</div>
<div class="card text-black margins" style="margin-top: 20px">
    <div class="card-header">
        Для чего нужны поставщики?
    </div>
    <div class="card-body p-md-5">
        <p>Поставщики обеспечивают ваш пассивный доход. Регулярно, раз в секунду, они привозят вам сахар,
        но сахар доезжает не весь. За сохранность перевозок сахара отвечают ваши администраторы, чем более развито
        администрирование в вашем сахарном бизнесе, тем больше пакетов вы будете получать на руки.</p>
    </div>
</div>
<div class="card text-black margins" style="margin-top: 20px">
    <div class="card-header">
        Для чего нужны администраторы?
    </div>
    <div class="card-body p-md-5">
        <p>Администраторы обеспечивают сохранность вашего сахара. Чем больше администраторов, тем выше процент их работы.
        Процент работы же - процент сахара от общей массы, который попадает вам в руки.</p>
    </div>
</div>
<div class="card text-black margins" style="margin-top: 20px">
    <div class="card-header">
        Как собрать пассивный доход?
    </div>
    <div class="card-body p-md-5">
        <p>Для сбора пассивного дохода есть отдельная кнопка. В случае, если нажатие на нее ничего не изменило,
        попробуйте купить что-то в магазине. При покупке в магазине ваш пассивный доход автоматически собирается.</p>
    </div>
</div>
<div class="card text-black margins" style="margin-top: 20px">
    <div class="card-header">
        Как собрать деньги с кликов?
    </div>
    <div class="card-body p-md-5">
        <p>Не обновляя страницу, нажмите кнопку "забрать взятые пакеты в баланс". При обновлении страницы клики не сохраняются</p>
    </div>
</div>
<div class="card text-black margins" style="margin-top: 20px">
    <div class="card-header">
        Я нашел баг или моего вопроса нет в FAQ, к кому обратиться?
    </div>
    <div class="card-body p-md-5">
        <p>Напишите свои жалобы или вопросы на почту разработчика - iggyinyutsin@gmail.com</p>
    </div>
</div>