<div class="profile_parent center">
    <div class="card profile">
        <div class="card-header">
            Аккаунт
        </div>
        <div class="card-body">
            <h5 class="card-title">Никнейм</h5>
            <p class="card-text">{{aboutUser.name}}</p>
        </div>
    </div>
    <div class="card profile">
        <div class="card-header">
            Аккаунт
        </div>
        <div class="card-body">
            <h5 class="card-title">Дата регистрации</h5>
            <p class="card-text">{{aboutUser.registration_at}}</p>
        </div>
    </div>
    <div class="card profile">
        <div class="card-header">
            Статистика
        </div>
        <div class="card-body">
            <h5 class="card-title">Сахара собрано за все время</h5>
            <p class="card-text">{{aboutUser.sugar_all_time}} пакет(ов/а)</p>
        </div>
    </div>
    <div class="card profile">
        <div class="card-header">
            Статистика
        </div>
        <div class="card-body">
            <h5 class="card-title">Сахара на балансе</h5>
            <p class="card-text">{{aboutUser.balance}} пакет(ов/а)</p>
        </div>
    </div>
    <div class="card profile">
        <div class="card-header">
            Статистика
        </div>
        <div class="card-body">
            <h5 class="card-title">Пассивный доход пакетов/сек</h5>
            <p class="card-text">{{passiveIncome * adminsProfit / 100}} пакет(а/ов)</p>
        </div>
    </div>
    <div class="card profile">
        <div class="card-header">
            Статистика
        </div>
        <div class="card-body">
            <h5 class="card-title">Работа Администрации</h5>
            <p class="card-text">{{adminsProfit}}%</p>
        </div>
    </div>
    <div class="card profile" style="max-width: 600px;">
        <div class="card-header">
            Работники
        </div>
        <div class="card-body" style="overflow-y: auto">
            <h5 class="card-title">Поставщики</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Суммарный доход/сек</th>
                    <th scope="col">Доход х1/сек</th>
                </tr>
                </thead>
                <tbody ng-repeat="provider in aboutUser.providers">
                <tr>
                    <td>{{provider.provider.name}}</td>
                    <td>{{provider.count}}</td>
                    <td>{{provider.provider.income * provider.count}}</td>
                    <td>{{provider.provider.income}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card profile" style="max-width: 600px;">
        <div class="card-header">
            Работники
        </div>
        <div class="card-body" style="overflow-y: auto">
            <h5 class="card-title">Администрация</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Сохраняет доход</th>
                    <th scope="col">Сохраняет доход х1</th>
                </tr>
                </thead>
                <tbody ng-repeat="admin in aboutUser.admins">
                <tr>
                    <td>{{admin.admin.name}}</td>
                    <td>{{admin.count}}</td>
                    <td>{{admin.count * admin.admin.profit}}</td>
                    <td>{{admin.admin.profit}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>