<div class="profile_parent center">
    <div class="card profile">
        <div class="card-header">
            Аккаунт
        </div>
        <div class="card-body">
            <h5 class="card-title">Никнейм</h5>
            <p class="card-text">бобер</p>
        </div>
    </div>
    <div class="card profile">
        <div class="card-header">
            Аккаунт
        </div>
        <div class="card-body">
            <h5 class="card-title">Дата регистрации</h5>
            <p class="card-text">28-02-2077</p>
        </div>
    </div>
    <div class="card profile">
        <div class="card-header">
            Статистика
        </div>
        <div class="card-body">
            <h5 class="card-title">Сахара собрано за все время</h5>
            <p class="card-text">9999999 пакет(ов/а)</p>
        </div>
    </div>
    <div class="card profile">
        <div class="card-header">
            Статистика
        </div>
        <div class="card-body">
            <h5 class="card-title">Сахара на балансе</h5>
            <p class="card-text">3842 пакет(ов/а)</p>
        </div>
    </div>
    <div class="card profile">
        <div class="card-header">
            Статистика
        </div>
        <div class="card-body">
            <h5 class="card-title">Пассивный доход пакетов/сек</h5>
            <p class="card-text">2.23 пакет(а/ов)/сек</p>
        </div>
    </div>
    <div class="card profile">
        <div class="card-header">
            Статистика
        </div>
        <div class="card-body">
            <h5 class="card-title">Работа Администрации</h5>
            <p class="card-text">97%</p>
        </div>
    </div>
    <div class="card profile" style="max-width: 600px;">
        <div class="card-header">
            Работники
        </div>
        <div class="card-body" style="overflow-y: auto">
            <h5 class="card-title">Поставщики</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Суммарный доход/сек</th>
                    <th scope="col">Доход х1/сек</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Бабушка-перекуп</td>
                    <td>4</td>
                    <td>4</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Мексиканский сахаро-кортель</td>
                    <td>1</td>
                    <td>27</td>
                    <td>27</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card profile" style="max-width: 600px;">
        <div class="card-header">
            Работники
        </div>
        <div class="card-body" style="overflow-y: auto">
            <h5 class="card-title">Администрация</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Сохраняет доход</th>
                    <th scope="col">Сохраняет доход х1</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Мамкин бизнесмен</td>
                    <td>100</td>
                    <td>70%</td>
                    <td>0.7%</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Работник за еду</td>
                    <td>1</td>
                    <td>7%</td>
                    <td>7%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>