@media screen and (max-width: 768px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    .ascending-descending {
        margin-top: 20px;
    }
    .nav-link.my-link {
        white-space: normal;
        margin-left: 0;
    }
}
@media screen and (max-width: 1083px) {
    .ascending-descending {
        margin-top: 20px;
    }
}